.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}

.view {
    width: 95%;
}

.center {
    text-align: center;
}

thead {
    text-align: center;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}

td:nth-child(n + 2) {
    text-align: center;
}

@media only screen and (orientation: landscape) {
    .view {
        width: 75%;
    }
    
    td {
        padding-left: 5px;
        padding-right: 5px;
    }
}